<header>
  <div class="top-header">
    <a class="logo" href="/">
      <img src="/image/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
    </a>
    <form action="/" method="get" class="buscador">
      <input
        type="search"
        name="busqueda"
        placeholder="Buscar productos, marcas"
        class="input"
      />
      <button type="submit" class="lupa">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <p>
      <i class="fa-solid fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta
      de Credito
    </p>
  </div>

  <nav>
    <ul>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Tiendas Oficiales</a></li>
      <li><a href="#">Vender</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
    <ul>
      <li>
        <a href="/register">Creá tu cuenta</a
        ><i class="fa-regular fa-id-card"></i>
      </li>
      <li>
        <a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>
      </li>
      <li>
        <a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i>
      </li>
    </ul>
  </nav>
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>
</header>
