<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%-include('./partials/header')%>

            <main class="formulario-registro">

                <form action="/" method="get" class="formularios form-login">
                    <div>
                        <input type="text" class="text-field" placeholder="Nombre de Usuario" name="user" id="user">
                    </div>
                    <div>
                        <input class="text-field" type="password" placeholder="Elegi tu constrasena" name="password"
                            id="password">
                    </div>
                    <button class="botonForm botonSubmit" type="submit">Login</button>
                </form>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>