<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="top-header-register">
            <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="350px">
            <form action="/" method="GET" class="buscador1">
                <input type="text" name="busqueda" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="description">
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta</a>
                    <i class="fa-solid fa-address-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresa</a>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main id="formulario-registro">
        <form class="formularios" action="/" method="GET">

            <input class="text-field" type="text" name="nombreCompleto" placeholder="Nombre y apellido">

            <input class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">

            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" id="nacimiento">

            <input class="text-field" type="email" placeholder="E-mail">

            <input class="text-field" type="text" name="domicilio" placeholder="Calle falsa 123">

            <h3>Tipo de perfil</h3>

            <input type="radio" name="perfil" value="cendedor" id="cendedor">
            <label for="cendedor">Vendedor</label>

            <input type="radio" name="perfil" value="comprador" id="comprador">
            <label for="cendedor">Comprador</label>

            <h3>Intereses</h3>

            <input type="checkbox" name="interes" value="electro" id="electro">
            <label for="electro">Electro</label>

            <input type="checkbox" name="interes" value="moda" id="moda">
            <label for="moda">Moda</label>
            <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">

            <label for="jugueteria">Jugueteria</label>
            <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
            <label for="vidaSana">Vida Sana</label>

            <label for="fotoPerfil">Foto de perfil</label>
            <input type="file" name="fotoPerfil" id="fotoPerfil">

            <input class="text-field" type="password" name="contrasena" id="contrasena">
            <input class="text-field" type="password" name="contrasenaConfirmar" id="contrasenaConfirmar">

            <button class="botonForm botonSubmit" type="submit">Enviar</button>
            <button class="botonForm botonReset" type="reset">Cancelar</button>
        </form>
    </main>
    <footer>
        <div class="mainFooter">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo enpuntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <div class="derechos">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    </footer>
</body>

</html>