<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

  <body>

    <%- include("partials/header") %>

      <main id="formulario-registro">
        <form class="formularios" action="/" method="get">
          <div>
            <input class="text-field" type="text" name="nombre" placeholder="Nombre y Apellido"/>
          </div>
          <div>
            <input class="text-field" type="text" name="usuario" placeholder="Usuario"/>
          </div>

          <div>
            <input class="text-field" type="email" name="email" placeholder="E-mail"/>
          </div>
          <h3 for="Nacimiento">Fecha de Nacimiento</h3>
          <div>
            <input type="date" id="nacimiento" name="nacimiento"/>
          </div>
          <div>
            <input class="text-field" type="text" name="domicilio" placeholder="Domicilio"/>
          </div>
          <h3>Tipo de perfil</h3>
          <div class="selecciones">
            <div>
              <input type="radio" name="perfil" id="comprador" value="comprador"/>
              <label for="comprador">Comprador</label>
            </div>
            <div>
              <input type="radio" name="perfil" id="vendedor" value="vendedor"/>
              <label for="vendedor">Vendedor</label>
            </div>
          </div>
          <h3>Intereses</h3>
          <div class="selecciones">
            <div>
              <input type="checkbox" name="interes" id="electro" value="electro"/>
              <label for="electro">Electro</label>
            </div>
            <div>
              <input type="checkbox" name="interes" id="moda" value="moda"/>
              <label for="moda">Moda</label>
            </div>
            <div>
              <input type="checkbox" name="interes" id="hogar" value="hogar"/>
              <label for="hogar">Hogar</label>
            </div>
            <div>
              <input type="checkbox" name="interes" id="Jugueteria" value="Jugueteria"/>
              <label for="Jugueteria">Jugueteria</label>
            </div>
            <div>
              <input type="checkbox" name="interes" id="vidaSana" value="vidaSana"/>
              <label for="vidaSana">Vida Sana</label>
            </div>
          </div>
          <label class="foto-perfil">
            <input type="file"/>
            <i class="fa fa-cloud-upload"></i> Foto de perfil
          </label>
          <div>
            <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña"/>
          </div>
          <div>
            <input class="text-field" type="password" name="contraseniaConfirmar" placeholder="Confirmar contraseña"/>
          </div>
          <div class="confirmar">
            <button class="botonForm botonSubmit" type="submit">Enviar</button>
            <button class="botonForm botonReset" type="reset">Cancelar</button>
          </div>
        </form>
      </main>

      <%- include("partials/footer") %>

  </body>

</html>